{extends layout.latte}
{block title}API{/block}
{block body}
    <div class="container">
        <h1>Attendance</h1>

        <form class="form-inline" method="get">
            <input type="text" class="form-control" name="filtr" placeholder="Search">
            <input type="submit" value="Hledej" class="btn btn-success">
        </form>
        <br />
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th>ID</th>
                <th>Producer</th>
                <th>Description</th>
                <th>State</th>
                <th>Time</th>
            </tr>
            </thead>
            <tbody>
                {foreach $dochazka as $d}
                    <tr>
                        <td>{$d['id']}</td>
                        <td>{$d['typ']}</td>
                        <td>{$d['popis']}</td>
                        <td>{$d['stav']}</td>
                        <td>{$d['cas']}</td>
                    </tr>
                {/foreach}
            </tbody>
        </table>
    </div>
{/block}