{extends layout.latte}
	{block title}IOT backend{/block}
{block body}
	<div class="container">
		<h2>Welcome</h2>
        <p>Backend for AVTK project</p>
		<img src="https://cdn-reichelt.de/bilder/web/xxl_ws/B300/ARDUINO_UNO_A01.png" style="width:500px">
		<img src="https://www.raspberrypi.org/app/themes/mind-control/images/home-products-cta__image.png" style="width:500px">

	</div>
{/block}