{extends layout.latte}

{block title}Přihlášení{/block}

{block body}
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-sm-offset-4">
                <h1>Login</h1>
                <hr>
                <form class="well" method="post">

                    <div class="form-group">
                        <label class="col-sm-2 control-label">Login</label>
                        <div class="col-sm-10">
                            <input type="text" name="login" class="form-control">
                        </div>
                    </div>
                    <br>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Heslo</label>
                        <div class="col-sm-10">
                            <input type="password" name="pass" class="form-control">
                        </div>
                    </div>
                    <br>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-info">Prihlásit</button>
                            <a class="btn btn-default" href="#" class="btn btn-success">
                                Registrovat
                            </a>
                        </div>
                    </div>
                    <br>
                </form>

            </div>
        </div>
    </div>


{/block}